USE [master]
GO
/****** Object:  Database [OkulDb]    Script Date: 27.03.2024 14:14:13 ******/
CREATE DATABASE [OkulDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OkulDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OkulDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OkulDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OkulDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OkulDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OkulDb]
GO
/****** Object:  Table [dbo].[Branslar]    Script Date: 27.03.2024 14:14:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branslar](
	[BransID] [int] IDENTITY(1,1) NOT NULL,
	[Brans] [nvarchar](20) NOT NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_Branslar] PRIMARY KEY CLUSTERED 
(
	[BransID] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogrenciler]    Script Date: 27.03.2024 14:14:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogrenciler](
	[OgrenciID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [char](20) NULL,
	[Soyad] [varchar](50) NULL,
	[Sehir] [nvarchar](50) NULL,
	[Cinsiyet] [bit] NULL,
	[TcNo] [varchar](11) NULL,
	[Gsm] [varchar](15) NULL,
	[DogumTarihi] [date] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_Ogrenciler] PRIMARY KEY CLUSTERED 
(
	[OgrenciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogretmenler]    Script Date: 27.03.2024 14:14:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogretmenler](
	[OgretmenID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [char](20) NULL,
	[Soyad] [varchar](50) NULL,
	[Sehir] [nvarchar](50) NULL,
	[Cinsiyet] [bit] NULL,
	[TcNo] [varchar](11) NULL,
	[Gsm] [nvarchar](20) NULL,
	[DogumTarihi] [date] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_Ogretmenler] PRIMARY KEY CLUSTERED 
(
	[OgretmenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Branslar] ON 

INSERT [dbo].[Branslar] ([BransID], [Brans], [CreateDate]) VALUES (15, N'Kimya', CAST(N'2024-03-27T05:50:04.613' AS DateTime))
INSERT [dbo].[Branslar] ([BransID], [Brans], [CreateDate]) VALUES (14, N'Edebiyat', CAST(N'2024-03-27T05:49:39.210' AS DateTime))
INSERT [dbo].[Branslar] ([BransID], [Brans], [CreateDate]) VALUES (13, N'Muzik', CAST(N'2024-03-27T05:49:36.803' AS DateTime))
SET IDENTITY_INSERT [dbo].[Branslar] OFF
GO
SET IDENTITY_INSERT [dbo].[Ogrenciler] ON 

INSERT [dbo].[Ogrenciler] ([OgrenciID], [Ad], [Soyad], [Sehir], [Cinsiyet], [TcNo], [Gsm], [DogumTarihi], [CreateDate]) VALUES (1, N'Ali                 ', N'?????', N'يلماز', 1, N'12345678901', NULL, NULL, CAST(N'2024-03-26T16:34:21.073' AS DateTime))
INSERT [dbo].[Ogrenciler] ([OgrenciID], [Ad], [Soyad], [Sehir], [Cinsiyet], [TcNo], [Gsm], [DogumTarihi], [CreateDate]) VALUES (2, N'Veli                ', N'12121212121212121212121212121212121212121212121212', N'Йылмаз', 1, NULL, NULL, NULL, CAST(N'2024-03-26T16:38:07.977' AS DateTime))
SET IDENTITY_INSERT [dbo].[Ogrenciler] OFF
GO
SET IDENTITY_INSERT [dbo].[Ogretmenler] ON 

INSERT [dbo].[Ogretmenler] ([OgretmenID], [Ad], [Soyad], [Sehir], [Cinsiyet], [TcNo], [Gsm], [DogumTarihi], [CreateDate]) VALUES (1, N'Ayse                ', N'Kaya', N'Istanbul', 1, N'12345678901', N'5324445454', CAST(N'2020-01-01' AS Date), CAST(N'2024-03-27T05:13:49.003' AS DateTime))
SET IDENTITY_INSERT [dbo].[Ogretmenler] OFF
GO
ALTER TABLE [dbo].[Branslar] ADD  CONSTRAINT [KayitOlusmaTarihi]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Ogrenciler] ADD  CONSTRAINT [DF_Ogrenciler_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
USE [master]
GO
